doctype html
html
	head
		title= title
		link(rel='stylesheet', href='../stylesheets/style.css')
		link(rel='stylesheet', href='../vendors/bootstrap/bootstrap-grid.min.css')

		block style
	body
		.navbar
			.container
				.row
					.col-md-5
						img(src='../images/logo.png', alt='Girl in a jacket', style='width:130px;')
					.col-md-7
						ul
							li 
								a(href='/home') Home
							li 
								a(href='/about') About 
							li 
								a(href='/contact') Contact
							li 
								a(href='/login') Log in
							li 
								a(href='/signup') Sign up
							
		
			

		
			


	
		block content

		.footer

