extends layout

block style
	link(rel='stylesheet', href='../stylesheets/login.css')

block content
  
	.login
		.login-triangle
		h2.login-header Log in
		form.login-container
			p
				input(type='email', placeholder='Email')
			p
				input(type='password', placeholder='Password')
			p
				input(type='submit', value='Log in')
